<app-nav></app-nav>
<div class="row" style="margin: 5%;">
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="../../assets/img/users.png" alt="">
        </div>
        <div class="card-footer" style="text-align: center;"><b><a href="items">ITEMS</a></b></div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="../../assets/img/client.jpg" alt="">
        </div>
        <div class="card-footer" style="text-align: center;"><b><a href="clients">CLIENTS</a></b></div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <img src="../../assets/img/users.png" alt="">
        </div>
        <div class="card-footer" style="text-align: center;"><b><a href="users">USERS</a></b></div>
    </div>
</div>
</div>

<app-footer></app-footer>